body {
    background-color: #fff;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button .btn-add {
    width: 100%;
}

.button .btn-link {
    color: #b8b8b8;
    font-size: 14px;
    font-weight: bold;
    margin-top: 18px;
}

.f-description {
    min-height: 150px;
}

.lt-tsr-block {
    max-width: 350px;
}

.image-card {
    position: relative;
}

.round-sticky {
    width: 80px;
    height: 80px;
    border: 2px solid red;
    color: #fff;
    border-radius: 50%;
    line-height: 75px;
    text-align: center;
    background: #ff4441;
    position: absolute;
    top: 16px;
    right: 20px;
}


.lt-tsr-block .f-subheader,
.lt-tsr-block .f-header {
    color: #fff !important;
}

.lt-tsr-block .f-header {
    position: absolute;
    top: 140px;
    left: 24px;
}

.lt-tsr-block .lt-tsr-content>.f-subheader {
    left: 24px;
    position: absolute;
    top: 34px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}


.info-bar {
    position: absolute;
    top: 174px;
    color: #fff;
    z-index: 10;
    padding-left: 15px;
}

.info-bar > span:nth-child(1) {
    margin-right: 60px;
}