div.animated-element {
	transition: opacity 0.5s;
	transition-duration: 1.2s;
	-webkit-transition-duration: 1.2s;
	-webkit-transition-property: opacity,transform;
	transition-property: opacity,transform;
	-webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
	transition-timing-function: cubic-bezier(.19,1,.22,1);
	-webkit-backface-visibility: hidden;
	transform: scale(1);
	-webkit-transform: scale(1);
	opacity: 1;
}

div.animated-element.before-animation {
	opacity: 0;
}

div.animated-element.before-animation[data-animation-mode=increase] {
	-webkit-transform: scale(.9);
	transform: scale(.9);
}

div.animated-element.before-animation[data-animation-mode=slide-from-left] {
	-webkit-transform: translate(-50px);
	transform: translate(-50px);
}

div.animated-element.before-animation[data-animation-mode=slide-from-right] {
	-webkit-transform: translate(50px);
	transform: translate(50px);
}

div.animated-element.before-animation[data-animation-mode=slide-from-top] {
	-webkit-transform: translateY(-50px);
	transform: translateY(-50px);
}

div.animated-element.before-animation[data-animation-mode=slide-from-bottom] {
	-webkit-transform: translateY(50px);
	transform: translateY(50px);
}